groups:
- interval: 2m30s
  name: staff-management-latency-increase
  rules:
  - expr: sum by (uri) (increase(http_server_requests_seconds_count{uri=~".*staff.*"}[30d]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:increase30d
  - expr: sum by (uri) (increase(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[30d]))
    labels:
      le: "2"
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:increase30d
  - alert: SLOMetricAbsent
    expr: absent(http_server_requests_seconds_count{uri=~".*staff.*"}) == 1
    for: 2m
    labels:
      service: staff-management
      severity: critical
      slo: staff-management-latency
      team: magiclook
  - alert: SLOMetricAbsent
    expr: absent(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}) ==
      1
    for: 2m
    labels:
      le: "2"
      service: staff-management
      severity: critical
      slo: staff-management-latency
      team: magiclook
- interval: 30s
  name: staff-management-latency
  rules:
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[5m])) - sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[5m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[5m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate5m
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[32m])) -
      sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[32m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[32m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate32m
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[1h4m])) -
      sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[1h4m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[1h4m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate1h4m
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[2h9m])) -
      sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[2h9m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[2h9m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate2h9m
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[6h26m]))
      - sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[6h26m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[6h26m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate6h26m
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[1d1h43m]))
      - sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[1d1h43m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[1d1h43m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate1d1h43m
  - expr: (sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[4d6h51m]))
      - sum(rate(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"}[4d6h51m])))
      / sum(rate(http_server_requests_seconds_count{uri=~".*staff.*"}[4d6h51m]))
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: http_server_requests_seconds:burnrate4d6h51m
  - alert: ErrorBudgetBurn
    expr: http_server_requests_seconds:burnrate5m{slo="staff-management-latency"}
      > (14 * (1-0.95)) and http_server_requests_seconds:burnrate1h4m{slo="staff-management-latency"}
      > (14 * (1-0.95))
    for: 2m
    labels:
      exhaustion: 2d3h25m42s
      long: 1h4m
      service: staff-management
      severity: critical
      short: 5m
      slo: staff-management-latency
      team: magiclook
  - alert: ErrorBudgetBurn
    expr: http_server_requests_seconds:burnrate32m{slo="staff-management-latency"}
      > (7 * (1-0.95)) and http_server_requests_seconds:burnrate6h26m{slo="staff-management-latency"}
      > (7 * (1-0.95))
    for: 16m
    labels:
      exhaustion: 4d6h51m25s
      long: 6h26m
      service: staff-management
      severity: critical
      short: 32m
      slo: staff-management-latency
      team: magiclook
  - alert: ErrorBudgetBurn
    expr: http_server_requests_seconds:burnrate2h9m{slo="staff-management-latency"}
      > (2 * (1-0.95)) and http_server_requests_seconds:burnrate1d1h43m{slo="staff-management-latency"}
      > (2 * (1-0.95))
    for: 1h4m
    labels:
      exhaustion: 15d
      long: 1d1h43m
      service: staff-management
      severity: warning
      short: 2h9m
      slo: staff-management-latency
      team: magiclook
  - alert: ErrorBudgetBurn
    expr: http_server_requests_seconds:burnrate6h26m{slo="staff-management-latency"}
      > (1 * (1-0.95)) and http_server_requests_seconds:burnrate4d6h51m{slo="staff-management-latency"}
      > (1 * (1-0.95))
    for: 3h13m
    labels:
      exhaustion: 30d
      long: 4d6h51m
      service: staff-management
      severity: warning
      short: 6h26m
      slo: staff-management-latency
      team: magiclook
- interval: 30s
  name: staff-management-latency-generic
  rules:
  - expr: "0.95"
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: pyrra_objective
  - expr: 2592000
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: pyrra_window
  - expr: sum(http_server_requests_seconds:increase30d{le="2",slo="staff-management-latency",uri=~".*staff.*"}
      or vector(0)) / sum(http_server_requests_seconds:increase30d{le="",slo="staff-management-latency",uri=~".*staff.*"})
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: pyrra_availability
  - expr: sum(http_server_requests_seconds_count{uri=~".*staff.*"})
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: pyrra_requests_total
  - expr: sum(http_server_requests_seconds_count{uri=~".*staff.*"}) - sum(http_server_requests_seconds_bucket{le="2",uri=~".*staff.*"})
    labels:
      service: staff-management
      slo: staff-management-latency
      team: magiclook
    record: pyrra_errors_total
