apiVersion: pyrra.dev/v1alpha1
kind: ServiceLevelObjective
metadata:
  name: success-rate
  labels:
    pyrra.dev/team: magiclook
    pyrra.dev/service: overall
spec:
  description: "RNF 4: Overall application success rate must be at least 99%"
  target: "99"
  window: 30d
  indicator:
    ratio:
      errors:
        metric: http_server_requests_seconds_count{status=~"4..|5.."}
      total:
        metric: http_server_requests_seconds_count
