name: Deploy to Self-Hosted Runner

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy with Docker Compose
        run: |
          docker-compose down
          docker-compose up -d --build
