name: Pull Request Check Workflow

on:
    pull_request:
        branches:
            - main

jobs:
    pr-check:
        runs-on: ubuntu-latest
        timeout-minutes: 20

        defaults:
          run:
            working-directory: ./projMagicLook

        steps:
            - uses: actions/checkout@v4
              with:
                    fetch-depth: 0

            - name: Setup up JDK 21
              uses: actions/setup-java@v4
              with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: maven
                    
            - name: Verify
              run: mvn -B -U clean verify

            - name: Generate JaCoCo Coverage Report
              run: mvn jacoco:report
              
            - name: Publish JaCoCo Coverage to PR
              uses: actions/upload-artifact@v4
              with:
                name: jacoco-report
                path: projMagicLook/target/site/jacoco/

            - name: Generate JaCoCo Coverage Report
              run: mvn jacoco:report

            - name: Cache SonarQube packages
              uses: actions/cache@v4
              with:
                path: ~/.sonar/cache
                key: ${{ runner.os }}-sonar-${{ hashFiles('**/pom.xml') }}
                restore-keys: |
                  ${{ runner.os }}-sonar-

            - name: SonarCloud Scan
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              run: mvn -B -U sonar:sonar "-Dsonar.projectKey=MagicLook_tqs-project-118769-120151-120603" "-Dsonar.organization=magiclook" "-Dsonar.qualitygate.wait=true" "-Dsonar.host.url=https://sonarcloud.io" "-Dsonar.coverage.jacoco.xmlReportPaths=$(pwd)/target/site/jacoco/jacoco.xml"
                    
            - name: Push results to Xray on Jira Cloud
              env:
                    XRAY_CLIENT_ID: ${{ secrets.XRAYCLOUD_CLIENT_ID }}
                    XRAY_CLIENT_SECRET: ${{ secrets.XRAYCLOUD_CLIENT_SECRET }}
                    
              run: mvn -B xray:import-results -Dxray.clientId=$XRAY_CLIENT_ID -Dxray.clientSecret=$XRAY_CLIENT_SECRET
              continue-on-error: true
