name: Pull Request Check Workflow

on:
    pull_request:
        branches:
            - main

jobs:
    pr-check:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        defaults:
          run:
            working-directory: ./projMagicLook

        steps:
            - uses: actions/checkout@v4
              with:
                    fetch-depth: 0
            - name: Setup up JDK 21
              uses: actions/setup-java@v4
              with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: maven

            - name: Cache SonarQube packages
              uses: actions/cache@v4
              with:
                path: ~/.sonar/cache
                key: ${{ runner.os }}-sonar
                restore-keys: ${{ runner.os }}-sonar
        
            - name: Verify and SonarCloud Scan
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              run: mvn -B -U clean verify \ 
                org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \ 
                -Dsonar.projectKey=MagicLook_tqs-project-118769-120151-120603 \
                -Dsonar.qualitygate.wait=true

            - name: Test Coverage Check
              run: |
                mvn -B jacoco:report
                perl -ne 'if (/<counter type="LINE"[^>]*covered="(\d+)"[^>]*missed="(\d+)"/) {
                    $total = $1 + $2;
                    $perc = $total ? int($1*100/$total) : 0;
                    print "Test Coverage: $perc%\n";
                    exit 1 if $perc < 80;
                    }' target/site/jacoco/jacoco.xml || echo "Test Coverage OK"

