name: Pull Request Check Workflow

on:
    pull_request:
        branches:
            - main

jobs:
    pr-check:
        runs-on: ubuntu-latest
        timeout-minutes: 20

        defaults:
          run:
            working-directory: ./projMagicLook

        steps:
            - uses: actions/checkout@v4
              with:
                    fetch-depth: 0

            - name: Setup up JDK 21
              uses: actions/setup-java@v4
              with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: maven

            - name: Cache SonarQube packages
              uses: actions/cache@v4
              with:
                path: ~/.sonar/cache
                key: ${{ runner.os }}-sonar-${{ hashFiles('**/pom.xml') }}
                restore-keys: |
                  ${{ runner.os }}-sonar-

            - name: Verify and SonarCloud Scan
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              run: mvn -B -U clean verify sonar:sonar "-Dsonar.projectKey=MagicLook_tqs-project-118769-120151-120603" "-Dsonar.organization=magiclook" "-Dsonar.qualitygate.wait=true" "-Dsonar.host.url=https://sonarcloud.io"
                
            - name: Coverage Information to PR
              id: jacoco-pr
              uses: madrapps/jacoco-report@v1.7.1
              if: github.event_name == 'pull_request'
              with:
                paths: |
                  ${{ github.workspace }}/**/target/site/jacoco-merged-test-coverage-report/jacoco.xml 
                token: ${{ secrets.GITHUB_TOKEN }}
                min-coverage-overall: 80
                min-coverage-changed-files: 80

            - name: List surefire reports
              run: ls -l target/surefire-reports || true
                    
            - name: Push results to Xray on Jira Cloud
              env:
                    XRAYCLOUD_CLIENT_ID: ${{ secrets.XRAYCLOUD_CLIENT_ID }}
                    XRAYCLOUD_CLIENT_SECRET: ${{ secrets.XRAYCLOUD_CLIENT_SECRET }}
                    XRAYCLOUD_TEST_PLAN_KEY: ${{ vars.XRAYCLOUD_TEST_PLAN_KEY }}
                    REVISON: ${{ github.ref_name}}
                    TEST_ENVIRONMENT: java${{ matrix.java }}
              run: |
                mvn \
                  -Dxray.clientId=${{ env.XRAYCLOUD_CLIENT_ID }} \
                  -Dxray.clientSecret=${{ env.XRAYCLOUD_CLIENT_SECRET }} \
                  -Dxray.testEnvironment=${{ env.TEST_ENVIRONMENT }} \
                  -Dxray.testPlanKey=${{ env.XRAYCLOUD_TEST_PLAN_KEY }} \
                  -Dxray.revision=${{ env.REVISON }} \
                  -Dxray.reportFile=target/surefire-reports/*.xml \
                  -Dxray.reportFilePattern=true \
                  -Dxray.reportFormat=junit \
                  xray:import-results
